package components

templ HomePage() {
    <html>
        <div class="justify-center">
            <head>
                <title class="font-serif">Home</title>
            </head>
            <body>
                <h1>Home</h1>
                <p>Welcome to the home page</p>
            </body>
        </div>
    </html>
}
